<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- socketio javascript (for updating svg data)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <!-- Inline JavaScript -->

</head>

<body>
    <!-- Inline JavaScript -->
    {{ handle_input | safe }}
    {{ handle_visibility | safe }}
    <!-- Render the SVG here -->
    <div id="svg-container">
        {{ svg_code | safe }}
    </div>



    <script>



        $(document).ready(function () {

            // event listeners for user input



            // when the visibility changes
            // https://developer.mozilla.org/en-US/docs/Web/API/Document/visibilitychange_event
            // document.addEventListener('visibilitychange', handleVisibilityChange);

            // disable right clicking by default...
            window.addEventListener(`contextmenu`, (e) => e.preventDefault());

            document.addEventListener("mousemove", handleMouseMotion)
            document.addEventListener("mousedown", handleMouseDown)
            document.addEventListener("mouseup", handleMouseUp)
            document.addEventListener("click", handleMouseClick)
            document.addEventListener("contextmenu", handleMouseClick)

            // event for when the mouse leaves the browser content window
            document.addEventListener('mouseout', function (event) {
                if (!event.relatedTarget && !event.toElement) {
                    handleMouseOut(event)
                }
            });
            document.addEventListener('mouseout', function (event) {
                if (!event.relatedTarget && !event.toElement) {
                    handleMouseOut(event)
                }
            });

            // document.onmousebutton
            const socket = new WebSocket('ws://localhost:8000/svgsocket');

            socket.addEventListener('open', function (event) {
                console.log('Connected to WS Server');
            });

            socket.addEventListener('message', function (event) {
                console.log('Message from server:', event.data);
                var svgObject = document.getElementById('svg-container');
                svgObject.innerHTML = event.data;
            });

            //var socket = io(); // Initialize Socket.IO
            // Listen for the "update_svg" Socket.IO message
            // socket.on("update_svg", function (newSvgData) {
            //     console.log(newSvgData)
            //     var svgObject = document.getElementById('svg-container');
            //     svgObject.innerHTML = newSvgData;
            // });
        });
    </script>
</body>

</html>